.column {
  float: left;
  width: 50%;
  height: 100%;
  overflow-y:visible;
  overflow-x: hidden;
  position: relative;
}
#totoro{
 float:right;
}
#homeText{
 width:50%;
 float:left;
}
.artifactPics{
 width:150pt;
 height: auto;
 margin-bottom: 0pt;
}
#ghibli{
 width: 40%;
 height:auto;
 float:right;
 margin-left:5pt;
}
.validator {
max-width: 80%;
height: auto;
}
div a {
  font-stretch: expanded;
  font-size:20pt;
  text-decoration: none;
  color:#ffffff;
  margin-left: 1%;
  margin-right:1%;
}
div a:link {
  height: 44pt;
  width: auto;
  color:#ffffff;
}
div a:visited {
  height: 44pt;
  width: auto;
  color:#ffffff;
}
div a:hover {
  color:#ffffff;
  text-decoration: underline;
}
.blueLink{
  color: #0000ee;
}
h1{
  color:white;
  font-size:2.5rem;
  padding:2rem;
}
.errorMessages{
    font-weight: bold;
    color:red;
    font-size:8pt;
}




.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* Reset some annoying defaults */
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* Header styling */
header {
  background-color: #6F4E37; /* dark gray */
  padding: 1rem;
}

/* Align logo + nav horizontally */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Remove bullet points */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center; /* center links */
  gap: 2rem;
  margin: 0;
  padding: 0;
}



/* Links */
.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s ease;
  padding: 1rem;
}

/* Hover effect */
.nav-list a:hover {
  text-decoration: underline;
}

.content {
  padding: 1rem;
}

.profile-pic {
  width: 250pt;  
  height: auto;
}
